<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/my_style.css">
</head>
<body>
<header>
<div class="container">

	<nav class="navbar navbar-expand-md navbar-dark bg-dark  rounded-bottom">
		<a href="/" class="navbar-brand">
			<h4 class="text text-primary bg-dark p-1 border border-primary rounded">
				<u><b>migmog</b></u>
			</h4>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#my_menu_bar" aria-controls="" aria-label="">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="my_menu_bar">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a href="/" class="nav-link">Get started</a>
				</li>
				<li class="nav-item">
					<a href="/home" class="nav-link">Home</a>
				</li>
				<li class="nav-item">
					<a href="/gallery" class="nav-link">Gallery</a>
				</li>
				<li class="nav-item">
					<a href="/user_check" class="nav-link">Profile</a>
				</li>

			</ul>
		</div>

	</nav>
	<!-- NAVIGATION BAR ENDS HERE  -->

</div>
</header>
	<br><br>
