

{% include "header.html" %}
<div class="container">
    <small class="text-danger">{{ msg }}</small>
    <br>
    <div class="jumbotron mt-5 bg-dark text text-light">
        <h4>
            
        </h4>
    <p class="">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, asperiores assumenda blanditiis eos et inventore, modi obcaecati pariatur, quia recusandae reiciendis sint tempora. Accusamus aperiam dignissimos earum molestiae, quam sapiente?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda corporis dolore eaque expedita fuga ipsam magni maxime minus non porro quia quibusdam repellat repudiandae sed velit, voluptatum. Ipsa,
        <br> <br> <a class="{{ style_login }}" href="/{{ login }}">{{ login }}</a> <a class="{{ style_register }}" href="/{{ register }}">{{ register }}</a>
         <a class="{{ style_logout }}" href="/{{ logout }}">{{ logout }}</a>
    </p>
    </div>
</div>

{% include "footer.html" %}
